@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Shared Style */
* {
    font-family: 'Work Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.btn-main {
    border-radius: 48px;
    background: linear-gradient(90.00deg, rgb(255, 66, 165) 13.134%, rgb(255, 66, 165) 87.942%);
    border: 0;
    color: #fff;
    padding: 20px 40px;
}
.btn-main:hover{
    background: teal;
}
.btn-temp {
    border-radius: 48px;
    background: rgb(78, 197, 247);
    color: #fff;
    border: 0;
    padding: 20px 40px;
}
.btn-temp:hover{
    background: green;
}
.banner-img img {
    width: 100%;
}

/* Navbar Style */
.logo {
    color: rgb(11, 2, 35);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.logo-g {
    color: rgb(255, 66, 165);
}

.logo img {
    margin-right: 5px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
}

nav>ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: rgb(60, 53, 79);
    /* text-decoration: none; */
    font-size: 1rem;
    text-align: center;
    padding: 30px;
}
nav ul li a:hover{
    color: #ff42a5;
}
.nav-box {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    color: rgb(60, 53, 79);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 0 15px;

}

/* Banner Style */
.banner {
    display: flex;
    justify-content: space-around;
}

.banner-content {
    padding-top: 140px;
    padding-right: auto;
}

.banner-title {
    color: rgb(11, 2, 35);
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.banner-main {
    background: linear-gradient(180.00deg, rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    text-fill-color:
        transparent;
    font-family: Work Sans;
    font-size: 6rem;
    font-weight: 800;
    line-height: 111px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.banner-content>ul {
    list-style: none;
    margin-bottom: 60px;
}

.banner-content>ul li {
    color: rgb(83, 76, 100);
    font-size: 20px;
    font-weight: 500;
    align-items: left;
    text-transform: lowercase;
    margin-top: 5px;
}

/* Online Game Section */
.online-game {
    margin-top: 140px;
}

.game-content {
    text-align: center;
    padding-bottom: 45px;
}

.game-main {
    background: linear-gradient(180.00deg, rgb(249, 72, 178), rgb(135, 88, 241));
    -webkit-background-clip:
        text;
    -webkit-text-fill-color:
        transparent;
    background-clip:
        text;
    text-fill-color:
        transparent;
    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.online-game-title {
    font-size: 3rem;
    font-weight: 700;
}

.online-game-description {
    color: rgb(83, 76, 100);
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 15px;
}
.box-content img:hover{
    border: 2px solid #ff42a5;
    border-radius: 20px;
}
.box-content img {
    width: 320px;
}

.box-content p {
    color: rgb(83, 76, 100);
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
}

/* Play Instantly Section */
.play-instantly {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.play-instantly-content {
    margin-right: 200px;
}

.play-instantly-title {
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
}

.play-instantly-description {
    color: rgb(83, 76, 100);
    font-size: 1.12rem;
    font-weight: 400;
    text-align: right;
}

.play-instantly-img img {
    margin-left: 160px;
}

.popup img {
    position: relative;
    bottom: 300px;
    margin: 0;
}

/* Action Section */
.action {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: linear-gradient(90.00deg, rgba(255, 66, 165, 0.03) 13.134%, rgba(255, 66, 165, 0.03) 87.942%);
    padding: 110px;
}

.single-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-title {
    color: rgb(11, 2, 35);
    font-size: 20px;
    font-weight: 600;
}

.single-action:hover {
    border: 2px solid #ff42a5;
    border-radius: 50px;
}

/* Footer Section */
.footer {
    background: rgb(11, 2, 35);
    padding: 100px;
}

.logo-footer {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.footer-menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin-top: 80px;
}

.footer-menu ul li a {
    color: #fff;
    padding: 30px;
}
.footer-menu ul li a:hover{
    color: #ff42a5;
}
.footer-icon ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    list-style: none;
    color: #fff;
    margin-top: 70px;
}

.footer-icon ul li a {
    text-align: center;
}

.footer-terms ul {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.footer-terms ul li a {
    color: rgba(255, 255, 255, 0.6);
}
.footer-terms ul li a:hover{
    color: #ff42a5;
}
.footer-copywrit {
    margin-top: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

/* Responsive Area */
/* Mobile Version */
@media screen and (max-width:576px) {

    nav,
    nav>ul,
    .banner,
    .play-instantly {
        flex-direction: column;
        column-gap: 10px;
    }

    .banner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .banner-content {
        text-align: center;
    }

    .box {
        grid-template-columns: 1fr;
    }

    .box-content img {
        align-items: center;
    }

    .box-content p {
        font-size: .8rem;
    }

    .play-instantly-title,
    .play-instantly-description {
        text-align: center;
    }

    .play-instantly-content {
        margin: 0;
    }

    .play-instantly-img img {
        margin: 0;
        width: 90%;
    }

    .popup img {
        position: static;
    }

    .action {
        grid-template-columns: repeat(2, 1fr);
        margin: 20px;
        padding: 5px;
    }
}

/* Tablet Version */
@media screen and (min-width:576px) and (max-width:992px) {

    nav,
    nav>ul,
    .banner,
    .play-instantly {
        flex-direction: column;
    }

    .banner-content {
        text-align: center;
    }

    .box {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        margin-left: 60px;
    }

    .play-instantly-title,
    .play-instantly-description {
        text-align: center;
    }

    .play-instantly-img img {
        margin: 0;
        width: 90%;
    }

    .popup img {
        position: static;
    }

    .action {
        grid-template-columns: repeat(3, 1fr);
    }
}